[Unit]
Description=Object Detector Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/objectdetector
ExecStart=/usr/local/bin/objectdetector
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target